- if devise_mapping.omniauthable?
  %ul#login-wrapper.list-unstyled.list-inline
    - resource_class.omniauth_providers.each do |provider|
      %li
        = link_to "#{provider.to_s.titleize}", omniauth_authorize_path(resource_name, provider), class: "signin-btn #{provider}"
