.portfolio-sec.media.mix{ data: { url: "#{coupon_path coupon}" }, rel: "coupon-link", class: "place_0 place_#{coupon.store.address_id}" }
  %a.pull-left{ href: "#"}
    %img.media-object.profile-image{ src: "#{coupon.user.image}" }
  .media-body
    .receive-coupon
      %h4.media-heading
        %span= coupon.store.name_with_address
        %span.pull-right= coupon.updated_at.strftime('%Y.%m.%d')
      .btn-group.stamp{"data-toggle" => "buttons"}
        - (1..coupon.stamp).each do
          %label.btn.btn-sm.btn-default.active{ disabled: true }
            %input{type: "checkbox", disabled: true}
        - ((coupon.stamp)+1..coupon.store.max_stamp).each do
          %label.btn.btn-sm.btn-default{ disabled: true }
            %input{type: "checkbox", disabled: true }
