- if @places.size > 1
  .space-10
  #place-query.col-md-12.text-center
    .btn-group.location{data: {toggle: "buttons"}}
      %label.btn.btn-sm.btn-default.active.filter{data: {filter: "place_0"}}
        %input{ type: "radio", checked: true } 전체

      - @places.each do |place|
        %label.btn.btn-sm.btn-default.filter{type: "button", data: {filter: "place_#{place['id']}"}}
          %input{ type: "radio" }= place['name']
  .space-20
