- if controller.controller_name == 'coupons' and controller.action_name == 'me' and @coupons.present?
  #user-detail.col-md-12
    .portfolio-thumnail.text-center
      %a{href: "#"}
        %img.profile-image{alt: "", src: "#{@user.image}"}
    %ul.text-center.list-inline.list-unstyled
      %li.phone{ class: "#{ 'active' if @user.phone_number.present? and not @user.phone_number.nil? }"}
        - if user_signed_in?
          %a{href: "tel:#{@user.phone_number}", rel: "popover", data: {container: "body", toggle: "popover", placement: "top", content: "#{(@user.phone_number.present? ? @user.phone_number : "설정탭에서 전화번호를 적어주세요.")}"} }
            %i.fa.fa-mobile
            %span.small Phone
        - else
          %a{href: "#", rel: "popover", data: {container: "body", toggle: "popover", placement: "top", content: "#{(@user.phone_number.present? ? "로그인해야만 볼 수 있습니다." : "설정탭에서 전화번호를 적어주세요.")}"} }
            %i.fa.fa-mobile
            %span.small Phone

      - if user_signed_in?
        %li.kakao{ class: "#{ 'active' if @user.kakao_id.present? and not @user.kakao_id.nil?}"}
          %a{ href: "#", rel: "popover", data: {container: "body", toggle: "popover", placement: "bottom", content: "#{(@user.kakao_id.present? ? @user.kakao_id : "설정탭에서 카카오톡 ID를 적어주세요.") }"}}
            %i.fa.fa-comments
            %span.small Kakao ID
      - else
        %li.kakao{ class: "#{ 'active' if @user.kakao_id.present? and not @user.kakao_id.nil?}"}
          %a{ href: "#", rel: "popover", data: {container: "body", toggle: "popover", placement: "bottom", content: "#{(@user.kakao_id.present? ? "로그인해야만 볼 수 있습니다." : "설정탭에서 카카오톡 ID를 적어주세요.") }"}}
            %i.fa.fa-comments
            %span.small Kakao ID


      - if user_signed_in?
        %li.company{ class: "#{ 'active' if @user.company.present? and not @user.company.nil?}"}
          %a{ href: "#", rel: "popover", data: {container: "body", toggle: "popover", placement: "top", content: "#{(@user.company.present? ? @user.company.name : "설정탭에서 직장이름을 적어주세요.")}"}}
            %i.fa.fa-flag
            %span.small Company
      - else
        %li.company{ class: "#{ 'active' if @user.company.present? and not @user.company.nil?}"}
          %a{ href: "#", rel: "popover", data: {container: "body", toggle: "popover", placement: "top", content: "#{(@user.company.present? ? "로그인해야만 볼 수 있습니다." : "설정탭에서 직장이름을 적어주세요.")}"}}
            %i.fa.fa-flag
            %span.small Company
