.row
  - if flash[:user_update]
    .alert.alert-success= flash[:user_update]

  .space-10
  .col-md-12.portfolio-thumnail.text-center
    %a{href: "#"}
      %img.profile-image{alt: "", src: "#{current_user.image}"}
  .space-10

  = form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f|
    = devise_error_messages!

    .col-md-12
      = f.label :phone_number, "Phone Number *"
      = f.text_field :phone_number, class: "form-control", autofocus: true

    .col-md-12
      = f.label :kakao_id, "KAKAO ID"
      = f.text_field :kakao_id, class: "form-control"


    = fields_for :company, resource.company  do |c|
      .col-md-12
        = c.label :name, "Compnay"
        = c.text_field :name, class: "form-control autocomplete"

    .col-md-12
      = f.submit "Update", class: 'btn btn-block theme-btn-color'

  .space-20
  .col-md-12
    = form_tag destroy_user_session_path, method: "delete" do
      %input.btn.btn-danger{type: "submit", value: "Logout"}/

  .space-10
  %ul#contact.col-md-12.text-right.list-unstyled
    %li
      = link_to "mailto:cristiangjj@email.com", class: "btn btn-link" do
        %span Contact Us
        %i.fa.fa-angle-right

    -#
      %li
        %a.btn.btn-link{ href: "#{release_note_index_path}" } Releas Note

