#appendStampModal.modal.fade
  .modal-dialog
    .modal-content
      .modal-header
        %button.close{ type: "button", data: {dismiss: "modal"} }
          %span &times;
          %span.sr-only Close
        %h4 최대 스탬프는 몇 개인가요?
      .modal-body
        %input.dial{ name: "coupon[max_stamp]", type: "text",  value: "10", data: { min: 5, max: 25 } }
      .modal-footer
        %button.btn.btn-primary.change-maximum-stamp{ type: "button", data: {dismiss: "modal"}} 변경
        %button.btn.btn-default{ type: "button", data: {dismiss: "modal"}} 취소

