- user = @coupon.user

.portfolio-sec
  .portfolio-thumnail.text-center
    %a{href: "#{user_coupons_path user.id}"}
      %img.profile-image{alt: "", src: "#{user.image}"}

  .portfolio-desc.text-center
    %h4.portfolio-post-title= @coupon.store.name_with_address
    %span.portfolio-post-cat= "#{@coupon.updated_at.strftime("%y.%m.%d")}"
    - if user.phone_number.present? and not user.phone_number.nil?
      .space-10
      - if user_signed_in?
        %a.small{href: "tel:#{user.phone_number}"}= "+ #{user.phone_number}"
      - else
        %a.small{href: "#"}= "+ xxx-xxxx-xxxx"
    .space-10

    %form#update_stamp{action: "#{coupon_path}"}
      = token_tag
      .btn-group.stamp{data: { toggle: (current_user == @coupon.user ? "buttons" : "") }}
        - (1..@coupon.stamp).each do |id|
          %label.btn.btn-sm.btn-default.active
            - if current_user == @coupon.user
              %input{name: "coupon[stamp][]", value: id, type: "checkbox", checked: true}
            쿠폰
        - ((@coupon.stamp+1)..@coupon.store.max_stamp).each do |id|
          %label.btn.btn-sm.btn-default
            - if current_user == @coupon.user
              %input{name: "coupon[stamp][]", value: id, type: "checkbox"}
            쿠폰

    - if current_user == user
      %form{action: "#{coupon_path}", method: :post}
        %input{type: "hidden", name: "_method", value: :delete}
        = token_tag
        %h4
          %button.btn.theme-btn-default.btn-sm.btn-status{href: "#", type: :submit} 사용하기
