.row
  .space-10
  .col-md-12
    %form.stamp-form{ action: coupons_path, method: :post }
      = token_tag
      .row
        .col-md-12.text-center
          .footer-col.text-left
            %h3 어디에 위치한 가게인가요?

          .btn-group.location{"data-toggle" => "buttons"}
            - @places.each do |place|
              %label.btn.btn-sm.btn-default
                %input{value: "#{place.id}", name: "coupon[address]", type: "radio"}= place.name

        .col-md-12
          .footer-col
            %h3 매장의 이름은 무엇인가요?
          %input.form-control.autocomplete{ type: "text", name: "coupon[store]", placeholder: "매장이름을 입력해 주세요.", data: { url: stores_api_path } }

        .col-md-12.text-center.stamp
          .footer-col.text-left
            %h3 몇 개의 스탬프를 받으셨나요?
          .btn-group{"data-toggle" => "buttons"}
            - (1..10).each do |id|
              %label.btn.btn-sm.btn-default.stamp-btn
                %input{name: "coupon[stamp][]", value: id, type: "checkbox"}
                쿠폰
            %label.btn.btn-sm.btn-default.append-stamp{data: {toggle: "modal", target: "#appendStampModal"}}
              %input{type: "checkbox"}
              %i.fa.fa-plus
        = render 'coupons/append_stamp_modal'
        .col-md-12.text-right
          %button.btn.btn-lg.btn-block.theme-btn-color{type: "submit"} 등록

  .space-50
  .space-40
