- if @coupons.present?
  - @coupons.each do |coupon|
    = render 'item', coupon: coupon
- else
  .text-center
    %h1 아이쿠!
    %p 등록하신 쿠폰이 없어요!!
    = link_to "Coupon", new_coupon_path, class: 'btn btn-lg new-coupon-btn'
    %p.small 위 버튼을 눌러서 새로운 쿠폰을 등록해주세요!!

= link_to_next_page @coupons, 'Load Next Page', class: 'pager'
