.space-10
#place-query.col-md-12.text-center
  .btn-group.location
    %a.btn.btn-sm.btn-default{ class: "#{'active' unless params[:place]}", href: coupons_path } 전체

    - @places.each do |place|
      %a.btn.btn-sm.btn-default{ class: "#{'active' if place.id == params[:place].to_i}", href: "#{coupons_path}?place=#{place.id}" }= place.name

.space-20
