- user = User.find uid

.portfolio-sec.media{ data: { url: "#{user_coupons_path user.id}" }, rel: "coupon-link" }
  %a.pull-left{ href: "#{user_coupons_path user.id}"}
    %img.media-object.profile-image{ src: "#{user.image}" }
  .media-body
    %h4.media-heading
      - if user.phone_number.present? and not user.phone_number.nil?
        %a.phone-number{href: "tel:#{user.phone_number}"}= "+ #{user.phone_number}"
      - else
        %span= user.email

    - coupons.each do |coupon|
      - if @coupon.store == coupon.store
        .receive-coupon.col-md-6
          %h4.media-subtitle= coupon.store.name_with_address
          .btn-group.stamp{"data-toggle" => "buttons"}
            - (1..coupon.stamp).each do
              %label.btn.btn-sm.btn-default.active{ disabled: true }
                %input{type: "checkbox", disabled: true}
            - ((coupon.stamp)+1..10).each do
              %label.btn.btn-sm.btn-default{ disabled: true }
                %input{type: "checkbox", disabled: true }
      - else
        .give-coupon.col-md-6
          %h4.media-subtitle= coupon.store.name_with_address
          .btn-group.location{"data-toggle" => "buttons"}
            - (1..coupon.stamp).each do
              %label.btn.btn-sm.btn-default.active{ disabled: true }
                %input{type: "checkbox", disabled: true }
            - ((coupon.stamp)+1..10).each do
              %label.btn.btn-sm.btn-default{ disabled: true }
                %input{type: "checkbox", disabled: true }

