.row
  .space-10
  .text-center
    %h1 쿠판에 오신 것을 환영합니다.
    %p 주위 사람들과 사용하지 않는 쿠폰을 교환하고, 다양한 사람들을 만나보세요.

    %h4 Sign in with
    = render "devise/shared/links"

  .direct-link.text-right
    = link_to coupons_path do
      %span 쿠폰목록 보기
      %i.fa.fa-angle-right


%nav.navbar.navbar-default.navbar-fixed-bottom{role: "navigation"}
  .container
    .row
    %p.small.copyright
      %span Copyright@shon.dun.clarke. All rights reserved.

#fb-root

- content_for :page_specific_head_scripts do
  :javascript
    var FACEBOOK_APP_ID = "#{Rails.configuration.FACEBOOK_APP_ID}";
    var FACEBOOK_LOGIN_URL = "/users/auth/facebook/callback";
