#content {
  margin-top: 90px;
  padding-bottom: 70px;
}

@media (max-width: 768px) {
  #content {
    margin-top: 50px;
  }
}

.alert {
  padding: 10px;
  border-radius: 0;
  -webkit-border-radius: 0;
  margin-bottom: 0;
}

.navbar-fixed-bottom li {
  &.active {
    background-color: #0FAF97;
    a { color: #fff; }
  }

  a {
    display: block;
    padding: 10px 5px;
    color: #7a7a7a;
    i { font-size: 18px; }
    .help-text {
      display: block;
      font-size: 10px;
    }
  }
}

.pager {
  margin-bottom: 70px;
  line-height: 30px;
  display: block;
  margin: 10px 15px 70px;
  border: 1px solid #eee;
  color: #7a7a7a;
}

.blink {
  animation-name: blinker;
  animation-iteration-count: 3;
  animation-timing-function: cubic-bezier(.5, 0, 1, 1);
  animation-duration: 2s;

  -webkit-animation-name: blinker;
  -webkit-animation-iteration-count: 3;
  -webkit-animation-timing-function: cubic-bezier(.5, 0, 1, 1);
  -webkit-animation-duration: 2s;
}

@-moz-keyframes blinker {  
  0% { opacity: 1.0; }
  50% { opacity: 0.0; }
  100% { opacity: 1.0; }
}

@-webkit-keyframes blinker {  
  0% { opacity: 1.0; }
  50% { opacity: 0.0; }
  100% { opacity: 1.0; }
}

@keyframes blinker {  
  0% { opacity: 1.0; }
  50% { opacity: 0.0; }
  100% { opacity: 1.0; }
}

.navbar-default .navbar-brand {
  text-transform: capitalize;
  &:first-letter {
    color: #0FAF97;
  }
}
.navbar-toggle {
  border: none;
  padding: 3px 5px;
  font-size: 20px;
  color: #d2322d;
}
.navbar-default .navbar-nav>li>a, .navbar-toggle {
  color: #d2322d;
}

.glyphicon { font-family: 'Glyphicons Halflings'; }
.portfolio-post-cat { text-transform: inherit; }

.footer-col h3 {
  color: #7a7a7a;
  margin-bottom: 8px;
}


.stamp {
  .footer-col h3:first-letter {
    border-bottom: 5px solid #d2322d;
  }
  .btn {
    &.btn-default {
      color: #ac2925;
      border-color: #d2322d;
      &.active {
        color: #fff;
        background-color: #d2322d;
        border-color: #ac2925;
      }
    }
  }
}

.location {
  .btn {
    &.btn-default {
      border-color: #47a447;
      color: #47a447;
      &.active {
        color: #fff;
        background-color: #47a447;
        border-color: #398439;
      }
    }
  }
}


.btn-group {
  margin: 0;
  >.btn {
    border-radius: 50%;
    width: 42px;
    height: 42px;
    line-height: 32px;
    padding: 5px;
    text-align: center;
    margin-left: 3px;
    margin-right: 3px;
    margin-bottom: 6px;
    text-align: center;

    &:last-child { margin-right: 0; }

    &:first-child:not(:last-child):not(.dropdown-toggle),
    &:not(:first-child):not(:last-child):not(.dropdown-toggle),
    &:last-child:not(:first-child),
    .btn-group>.dropdown-toggle:not(:first-child) {
      border-radius: 50%;
    }
    &:first-child { margin-left: 3px; }
    &:last-child { margin-right: 3px; }
  }
  span {
    display: block;
  }
}

.profile-image {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  min-width: 50px;
  max-width: 50px;
  min-height: 50px;
}

.media {
  cursor: pointer;

  > a, .media-body { padding: 5px; }
  a.pull-left {
    margin-right: 0;
  }
  .media-body {
    .media-heading, .media-subtitle {
      font-size: 12px;
      color: #7a7a7a;
      margin: 0 0 6px;
      line-height: 18px;
      a { color: #7a7a7a; }
      &:first-letter { border-bottom: 1px solid #7a7a7a; }
    }

    .media-heading {
      .phone-number {
        color: #428bca;
        &:hover { color: #2a6496; }
      }
    }

    .receive-coupon {
      padding: 0;
      h4:first-letter { border-bottom: 1px solid #d2322d; }
      .btn-group { margin-left: -2px; }
    }
    .give-coupon {
      padding: 0;
      margin-top: 10px;
      h4:first-letter { border-bottom: 1px solid #47a447; }
    }

    .btn {
      margin-bottom: 0;
      width: 20px;
      height: 20px;
      margin: 0 1px 2px 1px;
    }
  }
}

.new-coupon-btn {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  border-width: 5px;
  -webkit-border-radius: 50%;
  line-height: 170px;
  margin-top: 10px;
  margin-bottom: 20px;
  font-size: 28px;

  &.btn {
    color: #47a447;
    &.active {
      color: #fff;
      background-color: #47a447;
    }
  }
}



.new-coupon-btn {
  position: relative;
  box-sizing: border-box;
  text-align: center;
  z-index: 0;
  text-transform: uppercase;
}

.new-coupon-btn:before,
.new-coupon-btn:after {
  opacity: 0;
  box-sizing: border-box;
  content: "\0020";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 100px;
  border: 5px solid #398439;
  box-shadow: 0 0 50px #398439, inset 0 0 50px #398439;
}

.new-coupon-btn:before {
  z-index: 2;
  -webkit-animation: gogoloader 2s infinite;
}

@-webkit-keyframes gogoloader {
  0% {
    -webkit-transform: scale(0);
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    -webkit-transform: scale(1);
    opacity: 0;
  }
}


.autocomplete-suggestions {
  background: white;
  border: 1px solid #dadada;
  border-top: none;
  max-height: 200px;
  height: 200px;
  overflow-y: scroll;

  .autocomplete-suggestion {
    padding: 10px;
    border-bottom: 1px solid #dadada;
    strong { color: #0FAF97; }

    &.autocomplete-selected {
      color: #fff;
      background-color: #0FAF97;
      strong { color: #d2322d; }
    }
  }
}

