.portfolio-thumnail {
  padding-top: 10px;
  img.profile-image {
    width: 50px;
    height: 50px;
  }
}

.stamp-form, #update_stamp {
  input[type="checkbox"], input[type="radio"] { display: none; }
  .stamp { margin-bottom: 10px; }
  .btn-group {
    .btn { float: none; }
    .btn+.btn { margin-left: 3px; }
  }
}

.stamp-form .row {
  > div {
    margin-top: 20px;
    &:first-child { margin-top: 0; }
  }
  .form-control { margin-bottom: 0; }
  .append-stamp {
    border-color: #004aaB;
    color: #004aaB;
    font-size: 22px;
    &.active {
      color: #fff;
      border-color: #004aaB;
      background-color: #004aaB;
    }
  }
}

#coupon-list { margin-top: 20px; }

#user-detail {
  margin-top: 10px;
  .portfolio-thumnail { margin-bottom: 15px; }

  ul {
    margin: 0;
    padding-bottom: 10px;
  }

  li {
    font-size: 24px;
    padding: 0;
    border: 1px solid #eee;
    border-radius: 2px;
    -webkit-border-radius: 2px;
    margin-right: 10px;
    &:last-child { margin-right: 0; }

    a {
      color: #dadada;
      min-width: 88px;
      display: inline-block;
    }

    span {
      font-size: 11px;
      display: block;
    }

    &.active {
      border-color: #0FAF97;
      color: #0FAF97;
      a { color: #0FAF97; }
    }
  }
}


#loading-recommend-spinner {
  margin-top: 10px;
  font-size: 24px;
  display: none;
}

#place-query {
  border-top: 1px solid #eee;
  border-bottom: 1px solid #eee;
  padding-top: 5px;
  padding-bottom: 5px;

  .btn-group {
    .btn {
      width: 44px;
      height: 44px;
      line-height: 32px;
      margin-right: 4px;
      margin-top: 6px;
    }
  }
}

#appendStampModal {
  .modal-dialog {
    width: 280px;
    margin: 30px auto;

    .modal-content {
      .modal-header {
        text-align: center;
        h4 {
          font-size: 15px;
          font-weight: 700;
        }
        .close {
          font-size: 24px;
          padding: 3px 5px;
        }
      }

      .modal-body {
        text-align: center;
      }

      .modal-footer {
        margin-top: 0;
        text-align: center;
      }
    }
  }
}
