.portfolio-thumnail {
  padding-top: 10px;
}
.portfolio-thumnail img.profile-image {
  width: 50px;
  height: 50px;
}
.stamp-form input[type="checkbox"],
#update_stamp input[type="checkbox"],
.stamp-form input[type="radio"],
#update_stamp input[type="radio"] {
  display: none;
}
.stamp-form .stamp,
#update_stamp .stamp {
  margin-bottom: 10px;
}
.stamp-form .btn-group .btn,
#update_stamp .btn-group .btn {
  float: none;
}
.stamp-form .btn-group .btn + .btn,
#update_stamp .btn-group .btn + .btn {
  margin-left: 3px;
}
.stamp-form .row > div {
  margin-top: 20px;
}
.stamp-form .row > div:first-child {
  margin-top: 0;
}
.stamp-form .row .form-control {
  margin-bottom: 0;
}
.stamp-form .row .append-stamp {
  border-color: #004aaB;
  color: #004aaB;
  font-size: 22px;
}
.stamp-form .row .append-stamp.active {
  color: #fff;
  border-color: #004aaB;
  background-color: #004aaB;
}
#coupon-list {
  margin-top: 20px;
}
#user-detail {
  margin-top: 10px;
}
#user-detail .portfolio-thumnail {
  margin-bottom: 15px;
}
#user-detail ul {
  margin: 0;
  padding-bottom: 10px;
}
#user-detail li {
  font-size: 24px;
  padding: 0;
  border: 1px solid #eee;
  border-radius: 2px;
  -webkit-border-radius: 2px;
  margin-right: 10px;
}
#user-detail li:last-child {
  margin-right: 0;
}
#user-detail li a {
  color: #dadada;
  min-width: 88px;
  display: inline-block;
}
#user-detail li span {
  font-size: 11px;
  display: block;
}
#user-detail li.active {
  border-color: #0FAF97;
  color: #0FAF97;
}
#user-detail li.active a {
  color: #0FAF97;
}
#loading-recommend-spinner {
  margin-top: 10px;
  font-size: 24px;
  display: none;
}
#place-query {
  border-top: 1px solid #eee;
  border-bottom: 1px solid #eee;
  padding-top: 5px;
  padding-bottom: 5px;
}
#place-query .btn-group .btn {
  width: 44px;
  height: 44px;
  line-height: 32px;
  margin-right: 4px;
  margin-top: 6px;
}
#appendStampModal .modal-dialog {
  width: 280px;
  margin: 30px auto;
}
#appendStampModal .modal-dialog .modal-content .modal-header {
  text-align: center;
}
#appendStampModal .modal-dialog .modal-content .modal-header h4 {
  font-size: 15px;
  font-weight: 700;
}
#appendStampModal .modal-dialog .modal-content .modal-header .close {
  font-size: 24px;
  padding: 3px 5px;
}
#appendStampModal .modal-dialog .modal-content .modal-body {
  text-align: center;
}
#appendStampModal .modal-dialog .modal-content .modal-footer {
  margin-top: 0;
  text-align: center;
}
