#error_explanation {
  padding: 0 15px;
}
#error_explanation h2 {
  font-size: 13px;
  line-height: 17px;
  color: #d2322d;
  margin: 0;
}
#error_explanation ul {
  font-size: 12px;
  padding-left: 20px;
}
