- if current_user and not current_user.phone_number.present? and not current_user.kakao_id.present?
  .row
    %a{href: "#{edit_user_registration_path}"}
      .alert.alert-sm.alert-warning
        사용자정보를 입력해주세요~
        %span.glyphicon.glyphicon-chevron-right.pull-right
