%nav.navbar.navbar-default.navbar-fixed-top.sticky-nav{role: "navigation"}
  .container
    .navbar-header
      - if current_user
        - if controller.controller_name == 'coupons' and controller.action_name == 'new'
          %a.navbar-toggle.collapsed.back-to-referer{type: "button", href: "#{(request.referer ? request.referer : coupons_path)}"}
            %span.sr-only Close add coupon
            %span.glyphicon.glyphicon-remove
        - else
          %a.navbar-toggle.collapsed{type: "button", href: "#{new_coupon_path}"}
            %span.sr-only Add Coupon
            %span.glyphicon.glyphicon-plus

      - elsif controller.controller_name != 'sessions'
        %a.navbar-toggle.collapsed{type: "button", href: "#{root_path}"}
          %span.sr-only Login
          %span.fa.fa-sign-in

      %a.navbar-brand{href: "#{coupons_path}"} Coupan

    .navbar-collapse.collapse{style: "height: 1px;"}
      - if current_user
        %ul.nav.navbar-nav.navbar-right
          %li.dropdown
            %a{href: "#{new_coupon_path}"} Add Coupon
      - elsif controller.controller_name != 'sessions'
        %ul.nav.navbar-nav.navbar-right
          %li.dropdown
            %a{href: "#{root_path}"} Login
