%meta{content: "width=device-width, initial-scale=1.0", name: "viewport"}
%meta{name: "viewport", content: "initial-scale=1.0,width=device-width,user-scalable=0, minimal-ui"}


/ SEO setting
%meta{content: "Coupan(쿠폰판교)", name: "Author"}
%meta{content: "사용하지 않은 쿠폰 서로 교환하세요~", name: "Description"}
%meta{content: "쿠폰, 판교, 쿠판, Coupon, Coupan", name: "Keyword"}
%meta{content: "noarchive", name: "robots"}
%meta{content: "xKC9MSkXkoOlnLWFsubV8oZiU-j8TZ7X8PorlGINN5g", name: "google-site-verification"}


/ Facebook og setting
%meta{content: "website", property: "og:type"}
%meta{content: "382538818551395", property: "fb:app_id"}
%meta{content: "Coupan(쿠폰판교)", property: "og:title"}
%meta{content: "http://coupan.so/", property: "og:url", rel: "canonical"}
%meta{content: "사용하지 않는 쿠폰 서로 교환하세요~", property: "og:description"}

-#
  / og image tags
  %meta{content: "https://lingring.net/static/image/logoFBOG_1.png", property: "og:image"}
  %meta{content: "image/png", property: "og:image:type"}
  %meta{content: "200", property: "og:image:width"}
  %meta{content: "200", property: "og:image:height"}


