- if current_user
  %nav.navbar.navbar-default.navbar-fixed-bottom{role: "navigation"}
    .container
      .row
        %ul.list-unstyled.list-inline.text-center
          %li.col-xs-4{ class: "#{'active' if controller.controller_name == 'coupons' and controller.action_name == 'index' }"}
            %a{href: "#{coupons_path}"}
              %i.fa.fa-list
              %span.help-text 전체 쿠폰
          %li.col-xs-4{ class: "#{'active' if (controller.controller_name == 'coupons' and controller.action_name == 'me') or (@coupon and @coupon.user == current_user) }"}
            %a{href: "#{user_coupons_path current_user.id}"}
              %i.fa.fa-user
              %span.help-text 내 쿠폰
          %li.col-xs-4{ class: "#{'active' if controller.controller_name == 'registrations'}"}
            %a{href: "#{edit_user_registration_path}"}
              %i.fa.fa-ellipsis-h
              %span.help-text 설정

