!!!
%html
  %head
    = render 'layouts/meta'

    %title Coupan(쿠폰판교)

    = stylesheet_link_tag 'font-awesome'
    = stylesheet_link_tag 'application'

    %link{href: "http://fonts.googleapis.com/css?family=Raleway:400,300,100,700,800,500", rel: "stylesheet", type: "text/css"}
    %link{href: "http://fonts.googleapis.com/css?family=Playfair+Display:400italic", rel: "stylesheet", type: "text/css"}
    /[if lt IE 9]
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>]
    = stylesheet_link_tag params[:controller]
    = yield :page_specific_stylesheets

    = javascript_include_tag 'application'
    = yield :page_specific_head_scripts
    = javascript_include_tag params[:controller]

    = csrf_meta_tags

  %body
    = render "layouts/header"

    /
      <haml_loud> link_to "Sign in with Facebook", user_omniauth_authorize_path(:facebook) </haml_loud>

    #content.container
      = render 'layouts/alert_user_info_empty'
      = content_for?(:contents) ? yield(:contents) : yield

    = render "layouts/nav"

    = yield :page_specific_scripts
